/* Estilos generales del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para etiquetas */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para campos de entrada de texto */
input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para botones */
input[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para el botón al pasar el mouse sobre él */
input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para el pie de página del formulario */
footer {
    text-align: center;
    margin-top: 20px;
}
