/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Imagen de fondo del cuerpo */
body {
    background-image: url('white.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
}

h1 {
    color: #fff;
    font-size: 48px;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Animación de rotación para el encabezado */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilo del encabezado */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

header h1 {
    animation: rotate 10s linear infinite;
}

/* Estilos de la sección de contenido */
.section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilo del pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
}
